# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables & secrets (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build outputs
dist/
build/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local personal notes
*.txt
.py